.face {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 30, 33, 0.72);
    bottom: 0;
    top: 0;
    text-align: center;
    display: none;
}

.like {
    margin: 200px auto;
    position: relative;
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}

.like div {
    line-height: 200px;
}

.close-like {
    position: absolute;
    right: 5px;

}

.close-like i {
    cursor: pointer;
    font-size: 32px;
    color: #292929;
}

.close-like i:hover {
    opacity: 0.5;
}